
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;0,800;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
	color: #fff;
	background: #498868;
}

body {
  font-family: 'JetBrains Mono', monospace;
  @apply bg-dark-green;
  @apply text-light-gray;
  @apply px-5;
  @apply xl:max-w-5xl;
  @apply xl:m-auto;
}

main p, main a {
  @apply my-5;
}

main a {
  @apply underline;
  @apply cursor-pointer;
}

.centered-modal {
  transform: translate(-50%, -50%);
}

.centered-modal img {
  min-height: 33vh;
}

@media (max-width:1025px) {
  .centered-modal img {
    min-height: 15vh;
  }
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    @apply bg-light-green
  }
}